{% extends 'layout.html' %}

{% block body %}


<style>
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

span {
    content: "\2705";
}
</style>

<script>
function includeHTML() {
  var z, i, elmnt, file, xhttp;
  /*loop through a collection of all HTML elements:*/
  z = document.getElementsByTagName("*");
  for (i = 0; i < z.length; i++) {
    elmnt = z[i];
    /*search for elements with a certain atrribute:*/
    file = elmnt.getAttribute("w3-include-html");
    if (file) {
      /*make an HTTP request using the attribute value as the file name:*/
      xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4) {
          if (this.status == 200) {elmnt.innerHTML = this.responseText;}
          if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
          /*remove the attribute, and call this function once more:*/
          elmnt.removeAttribute("w3-include-html");
          includeHTML();
        }
      }
      xhttp.open("GET", file, true);
      xhttp.send();
      /*exit the function:*/
      return;
    }
  }
};
</script>

<style>
.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
</style>

<div w3-include-html="all_taxonomy.html"></div>

<div class="jumbotron text-left">
<br>
<h1> <small>MOSCA's Project : <strong>{{name}} is running!</strong></small></h1>

{% from "includes/_formhelpers.html" import render_field %}
<form method="POST" action="">
<style media="screen">
.shell-wrap {
width: 1000px;
margin: 50px auto 0 auto;
box-shadow: 0 0 30px rgba(0,0,0,0.4);

-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.shell-top-bar {
text-align: center;
color: #525252;
padding: 5px 0;
margin: 0;
text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
font-size: 0.85em;
border: 1px solid #CCCCCC;
border-bottom: none;

-webkit-border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-topright: 3px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;

background: #f7f7f7; /* Old browsers */
background: -moz-linear-gradient(top,  #f7f7f7 0%, #B8B8B8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#B8B8B8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f7f7f7 0%,#B8B8B8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#B8B8B8',GradientType=0 ); /* IE6-9 */
}

.shell-body {
margin: 0;
padding: 5px;
list-style: none;
background: #141414;
color: #45D40C;
font: 0.8em 'Andale Mono', Consolas, 'Courier New';
line-height: 1.6em;

-webkit-border-bottom-right-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-bottomright: 3px;
-moz-border-radius-bottomleft: 3px;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
}

.shell-body li:before {
content: '$';
position: absolute;
left: 0;
top: 0;
}

.shell-body li {
word-wrap: break-word;
position: relative;
padding: 0 0 0 15px;
}
</style>

	<div class="shell-wrap">
	  <p class="shell-top-bar">/Mosca_pipeline</p>
	  <ul class="shell-body">
	    <li>{{exe_mosca}}</li>

			<!--<li></li>
			<li>Mosca is running...</li>
			<li>Step1 --- Status:</li>
			<li>$</li>
			<li>Step2 --- Status:</li>
			<li>$</li>
			<li>Step3 --- Status:</li>
			<li>$</li>
			<li>Step4 --- Status:</li>
			<li>$</li>
			<li>Step5 --- Status:</li>
			<li>$</li>-->
	  </ul>
	</div>



</form>
<p></p>
<p></p>
<p></p>
	<!--<p align="center"><td><a href="/krona" class="btn btn-success">View Krona Plot</a></td>-->
</p>

<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>


{% if steps == [] %}
<script type="text/javascript">
setTimeout(function() {
  location.reload();
}, 30000);
</script>

<div class="container">

<div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Preprocessing</a>
			</h4>
		</div>
		<div id="collapse1" class="panel-collapse collapse in" style="background-color:lightblue">
			<div class="panel-body">
				<div class="loader"></div>

			</div>
		</div>
	</div>


		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Assembly</a>
				</h4>
			</div>
			<div id="collapse2" class="panel-collapse collapse in" style="background-color:lightblue">
				<div class="panel-body">

					<p><div class="loader"></div></p>


				</div>
			</div>
		</div>


			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Annotation</a>
					</h4>
				</div>
				<div id="collapse3" class="panel-collapse collapse in" style="background-color:lightblue">
					<div class="panel-body">
						<div class="loader"></div>

					</div>
				</div>
			</div>


				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Binning</a>
						</h4>
					</div>
					<div id="collapse4" class="panel-collapse collapse in" style="background-color:lightblue">
						<div class="panel-body">
							<div class="loader"></div>

						</div>
					</div>
				</div>


					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Expression Analysis</a>
							</h4>
						</div>
						<div id="collapse5" class="panel-collapse collapse in" style="background-color:lightblue">
							<div class="panel-body">
								<div class="loader"></div>

							</div>
						</div>
					</div>

        </div>
      </div>
{% endif %}


{% if steps|length == 1 %}
<script type="text/javascript">
setTimeout(function() {
  location.reload();
}, 30000);
</script>

<div class="container">

<div class="panel-group" id="accordion1">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion1" href="#collapse1">Preprocessing &#9989;</a>
			</h4>
		</div>
		<div id="collapse1" class="panel-collapse collapse out" style="background-color:lightblue">
			<div class="panel-body">
				<p>Preprocessing finished</p>
        <!-- Moscar ficheiros forward/reverse paired .fastqc.html-->
        {%for file in f_files%}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse{{loop.counter}}">{{file.split('/')[-1]}}</a>
            </h4>
          </div>
          <div id="collapse{{loop.counter}}" class="panel-collapse collapse out">
            <div class="panel-body">
              <div>
                <iframe src={{file}} width="900" height="900"></iframe>
              </div>
          </div>
        </div>
      </div>
      {% endfor %}

			</div>
		</div>
	</div>


		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion1" href="#collapse2">Assembly</a>
				</h4>
			</div>
			<div id="collapse2" class="panel-collapse collapse in" style="background-color:lightblue">
				<div class="panel-body">

					<p><div class="loader"></div></p

				</div>
			</div>
		</div>


			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion1" href="#collapse3">Annotation</a>
					</h4>
				</div>
				<div id="collapse3" class="panel-collapse collapse in" style="background-color:lightblue">
					<div class="panel-body">
            <p><div class="loader"></div></p>

					</div>
				</div>
			</div>


				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion1" href="#collapse4">Binning</a>
						</h4>
					</div>
					<div id="collapse4" class="panel-collapse collapse in" style="background-color:lightblue">
						<div class="panel-body">
							<div class="loader"></div>

						</div>
					</div>
				</div>


					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion1" href="#collapse5">Expression Analysis</a>
							</h4>
						</div>
						<div id="collapse5" class="panel-collapse collapse in" style="background-color:lightblue">
							<div class="panel-body">
								<div class="loader"></div>

							</div>
						</div>
					</div>

        </div>
      </div>


 {% endif %}

 {% if steps|length == 2 %}
 <script type="text/javascript">
 setTimeout(function() {
   location.reload();
 }, 30000);
 </script>
 <div class="container">

 <div class="panel-group" id="accordion2">
 	<div class="panel panel-default">
 		<div class="panel-heading">
 			<h4 class="panel-title">
 				<a data-toggle="collapse" data-parent="#accordion2" href="#collapse1">Preprocessing &#9989;</a>
 			</h4>
 		</div>
 		<div id="collapse1" class="panel-collapse collapse out" style="background-color:lightblue">
 			<div class="panel-body">
 				<p>Preprocessing finished</p>
        {%for file in f_files%}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse{{loop.counter}}">{{file.split('/')[-1]}}</a>
            </h4>
          </div>
          <div id="collapse{{loop.counter}}" class="panel-collapse collapse out">
            <div class="panel-body">
              <div>
                <iframe src={{file}} width="900" height="900"></iframe>
              </div>
          </div>
        </div>
      </div>
      {% endfor %}

 			</div>
 		</div>
 	</div>


 		<div class="panel panel-default">
 			<div class="panel-heading">
 				<h4 class="panel-title">
 					<a data-toggle="collapse" data-parent="#accordion2" href="#collapse2">Assembly &#9989;</a>
 				</h4>
 			</div>
 			<div id="collapse2" class="panel-collapse collapse out" style="background-color:lightblue">
 				<div class="panel-body">

          <p>Assembly finished</p>

          <div class='center' style="background-color:white;height:700px;width:500px;overflow:auto;border:8px solid white;padding:2%">

           {% for report_out in report_out %}
           <body>
             <p><small>{{report_out}}</small></p>

           </body>

           {% endfor %}

 				</div>
 			</div>
 		</div>
  </div>


 			<div class="panel panel-default">
 				<div class="panel-heading">
 					<h4 class="panel-title">
 						<a data-toggle="collapse" data-parent="#accordion2" href="#collapse3">Annotation</a>
 					</h4>
 				</div>
 				<div id="collapse3" class="panel-collapse collapse in" style="background-color:lightblue">
 					<div class="panel-body">
             <p><div class="loader"></div></p>

 					</div>
 				</div>
 			</div>


 				<div class="panel panel-default">
 					<div class="panel-heading">
 						<h4 class="panel-title">
 							<a data-toggle="collapse" data-parent="#accordion2" href="#collapse4">Binning</a>
 						</h4>
 					</div>
 					<div id="collapse4" class="panel-collapse collapse in" style="background-color:lightblue">
 						<div class="panel-body">
 							<div class="loader"></div>

 						</div>
 					</div>
 				</div>


 					<div class="panel panel-default">
 						<div class="panel-heading">
 							<h4 class="panel-title">
 								<a data-toggle="collapse" data-parent="#accordion2" href="#collapse5">Expression Analysis</a>
 							</h4>
 						</div>
 						<div id="collapse5" class="panel-collapse collapse in" style="background-color:lightblue">
 							<div class="panel-body">
 								<div class="loader"></div>

 							</div>
 						</div>
 					</div>

        </div>
      </div>
 {% endif %}

 {% if steps|length == 3 %}
 <script type="text/javascript">
 setTimeout(function() {
   location.reload();
 }, 30000);
 </script>
 <div class="container">

 <div class="panel-group" id="accordion3">
   <div class="panel panel-default">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a data-toggle="collapse" data-parent="#accordion3" href="#collapse1">Preprocessing &#9989;</a>
       </h4>
     </div>
     <div id="collapse1" class="panel-collapse collapse out" style="background-color:lightblue">
       <div class="panel-body">
         <p>Preprocessing finished</p>
         {%for file in f_files%}
         <div class="panel panel-default">
           <div class="panel-heading">
             <h4 class="panel-title">
               <a data-toggle="collapse" href="#collapse{{loop.counter}}">{{file.split('/')[-1]}}</a>
             </h4>
           </div>
           <div id="collapse{{loop.counter}}" class="panel-collapse collapse out">
             <div class="panel-body">
               <div>
                 <iframe src={{file}} width="900" height="900"></iframe>
               </div>
           </div>
         </div>
       </div>
       {% endfor %}

       </div>
     </div>
   </div>


     <div class="panel panel-default">
       <div class="panel-heading">
         <h4 class="panel-title">
           <a data-toggle="collapse" data-parent="#accordion3" href="#collapse2">Assembly &#9989;</a>
         </h4>
       </div>
       <div id="collapse2" class="panel-collapse collapse out" style="background-color:lightblue">
         <div class="panel-body">

          <p>Assembly finished </p>

          <div class='center' style="background-color:white;height:700px;width:500px;overflow:auto;border:8px solid white;padding:2%">

           {% for report_out in report_out %}
           <body>
             <p><small>{{report_out}}</small></p>

           </body>

           {% endfor %}

         </div>
       </div>
     </div>
     </div>


       <div class="panel panel-default">
         <div class="panel-heading">
           <h4 class="panel-title">
             <a data-toggle="collapse" data-parent="#accordion3" href="#collapse3">Annotation &#9989;</a>
           </h4>
         </div>
         <div id="collapse3" class="panel-collapse collapse out" style="background-color:lightblue">
           <div class="panel-body">
             <p>Annotation finished</p>
             <div style="display:inline-block;">

               <p align="center"><td><a href="{{'/annotation/taxonomy/%s'%name}}" target="_blank" class="btn btn-success">View Krona Taxonomy Plot</a></td>

             </div>
             <div style="display:inline-block;">
               <p align="center"><td><a href="{{'/annotation/cogs/%s'%name}}" target="_blank" class="btn btn-success">View Krona Cogs Plot</a></td>

             </div>
           </div>
         </div>
       </div>


         <div class="panel panel-default">
           <div class="panel-heading">
             <h4 class="panel-title">
               <a data-toggle="collapse" data-parent="#accordion3" href="#collapse4">Binning</a>
             </h4>
           </div>
           <div id="collapse4" class="panel-collapse collapse in" style="background-color:lightblue">
             <div class="panel-body">
               <div class="loader"></div>

             </div>
           </div>
         </div>


           <div class="panel panel-default">
             <div class="panel-heading">
               <h4 class="panel-title">
                 <a data-toggle="collapse" data-parent="#accordion3" href="#collapse5">Expression Analysis</a>
               </h4>
             </div>
             <div id="collapse5" class="panel-collapse collapse in" style="background-color:lightblue">
               <div class="panel-body">
                 <div class="loader"></div>

               </div>
             </div>
           </div>

         </div>
       </div>
 {% endif %}


  {% if steps|length == 4 %}
  <script type="text/javascript">
  setTimeout(function() {
    location.reload();
  }, 30000);
  </script>
  <div class="container">

  <div class="panel-group" id="accordion4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion4" href="#collapse1">Preprocessing &#9989;</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse out" style="background-color:lightblue">
        <div class="panel-body">
          <p>Preprocessing finished</p>

          {%for file in f_files%}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse{{loop.counter}}">{{file.split('/')[-1]}}</a>
              </h4>
            </div>
            <div id="collapse{{loop.counter}}" class="panel-collapse collapse out">
              <div class="panel-body">
                <div>
                  <iframe src={{file}} width="900" height="900"></iframe>
                </div>
            </div>
          </div>
        </div>
        {% endfor %}

        </div>
      </div>
    </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion4" href="#collapse2">Assembly &#9989;</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse out" style="background-color:lightblue">
          <div class="panel-body">


            <div class='center' style="background-color:white;height:700px;width:500px;overflow:auto;border:8px solid white;padding:2%">
            {% for report_out in report_out %}
            <body>
              <p><small>{{report_out}}</small></p>

            </body>

            {% endfor %}

          </div>
        </div>
      </div>
      </div>


        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion4" href="#collapse3">Annotation &#9989;</a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse out" style="background-color:lightblue">
            <div class="panel-body">
              <p>Annotation finished</p>
              <div style="display:inline-block;">

                <p align="center"><td><a href="{{'/annotation/taxonomy/%s'%name}}" target="_blank" class="btn btn-success">View Krona Taxonomy Plot</a></td>

              </div>
              <div style="display:inline-block;">
                <p align="center"><td><a href="{{'/annotation/cogs/%s'%name}}" target="_blank" class="btn btn-success">View Krona Cogs Plot</a></td>

              </div>

            </div>
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion5" href="#collapse4">Binning &#9989;</a>
            </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse out" style="background-color:lightblue">
            <div class="panel-body">
              <p>Binning finished </p>


              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse100">{{bin_ab[0][0]}}</a>
                  </h4>
                </div>
                <div id="collapse100" class="panel-collapse collapse out">
                  <div class="panel-body">
                    <div>

                      <div class='center' style="background-color:white;height:300px;width:900px;overflow:auto;border:8px solid white;padding:2%">

                         {% for bin in bin_ab[1] %}
                         <body>
                           <p><small>{{bin}}</small></p>

                         </body>

                         {% endfor %}

                        </div>


                    </div>
                </div>
              </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse101">{{bin_sum[0][0]}}</a>
                  </h4>
                </div>
                <div id="collapse101" class="panel-collapse collapse out">
                  <div class="panel-body">
                    <div>

                      <div class='center' style="background-color:white;height:300px;width:900px;overflow:auto;border:8px solid white;padding:2%">

                         {% for bin in bin_sum[1] %}
                         <body>
                           <p><small>{{bin}}</small></p>

                         </body>

                         {% endfor %}

                        </div>


                    </div>
                </div>
              </div>
              </div>




            </div>
          </div>
        </div>


            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion4" href="#collapse5">Expression Analysis</a>
                </h4>
              </div>
              <div id="collapse5" class="panel-collapse collapse in" style="background-color:lightblue">
                <div class="panel-body">
                  <div class="loader"></div>

                </div>
              </div>
            </div>

          </div>
        </div>

  {% endif %}
  {% if steps|length == 5 %}
  <div class="container">

  <div class="panel-group" id="accordion5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion5" href="#collapse1">Preprocessing &#9989;</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse out" style="background-color:lightblue">
        <div class="panel-body">



        {%for file in f_files%}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse{{loop.counter}}">{{file.split('/')[-1]}}</a>
            </h4>
          </div>
          <div id="collapse{{loop.counter}}" class="panel-collapse collapse out">
            <div class="panel-body">
              <div>
                <iframe src={{file}} width="900" height="900"></iframe>
              </div>
          </div>
        </div>
      </div>
      {% endfor %}




      </div>
    </div>
  </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion5" href="#collapse2">Assembly &#9989;</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse out" style="background-color:lightblue">
          <div class="panel-body">

           <p>Assembly finished </p>

           <div class='center' style="background-color:white;height:700px;width:500px;overflow:auto;border:8px solid white;padding:2%">

              {% for report_out in report_out %}
              <body>
                <p><small>{{report_out}}</small></p>

              </body>

              {% endfor %}

             </div>




          </div>
        </div>
      </div>


        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion5" href="#collapse3">Annotation &#9989;</a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse out" style="background-color:lightblue">
            <div class="panel-body">
              <p>Annotation finished</p>
              <div style="display:inline-block;">

                <p align="center"><td><a href="{{'/annotation/taxonomy/%s'%name}}" target="_blank" class="btn btn-success">View Krona Taxonomy Plot</a></td>

              </div>
              <div style="display:inline-block;">
                <p align="center"><td><a href="{{'/annotation/cogs/%s'%name}}" target="_blank" class="btn btn-success">View Krona Cogs Plot</a></td>

              </div>

            </div>
          </div>
        </div>


          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion5" href="#collapse4">Binning &#9989;</a>
              </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse out" style="background-color:lightblue">
              <div class="panel-body">
                <p>Binning finished </p>


                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" href="#collapse100">{{bin_ab[0][0]}}</a>
                    </h4>
                  </div>
                  <div id="collapse100" class="panel-collapse collapse out">
                    <div class="panel-body">
                      <div>

                        <div class='center' style="background-color:white;height:300px;width:900px;overflow:auto;border:8px solid white;padding:2%">

                           {% for bin in bin_ab[1] %}
                           <body>
                             <p><small>{{bin}}</small></p>

                           </body>

                           {% endfor %}

                          </div>


                      </div>
                  </div>
                </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" href="#collapse101">{{bin_sum[0][0]}}</a>
                    </h4>
                  </div>
                  <div id="collapse101" class="panel-collapse collapse out">
                    <div class="panel-body">
                      <div>

                        <div class='center' style="background-color:white;height:300px;width:900px;overflow:auto;border:8px solid white;padding:2%">

                           {% for bin in bin_sum[1] %}
                           <body>
                             <p><small>{{bin}}</small></p>

                           </body>

                           {% endfor %}

                          </div>


                      </div>
                  </div>
                </div>
                </div>




              </div>
            </div>
          </div>


            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion5" href="#collapse5">Expression Analysis &#9989;</a>
                </h4>
              </div>
              <div id="collapse5" class="panel-collapse collapse out" style="background-color:lightblue">
                <div class="panel-body">


                  <p>Expression finished </p>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse85">Interaction</a>
                      </h4>
                    </div>
                    <div id="collapse85" class="panel-collapse collapse out">
                      <div class="panel-body">
                        <div>
                          <img src= {{ url_for('static', filename = '%s/Metatranscriptomics/counts.jpeg'%name) }} width="450" height="450" alt="previous" title="Previous" border="0">                        </div>
                        </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse86">Gene Expression</a>
                      </h4>
                    </div>
                    <div id="collapse86" class="panel-collapse collapse out">
                      <div class="panel-body">
                        <div>
                          <img src= {{ url_for('static', filename =  '%s/Metatranscriptomics/gene_expression.jpeg'%name) }} width="450" height="450" alt="previous" title="Previous" border="0">                        </div>
                        </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse87">MAplot</a>
                      </h4>
                    </div>
                    <div id="collapse87" class="panel-collapse collapse out">
                      <div class="panel-body">
                        <div>
                          <img src= {{ url_for('static', filename = '%s/Metatranscriptomics/ma.jpeg'%name) }} width="450" height="450" alt="previous" title="Previous" border="0">                        </div>
                        </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse88">PCA</a>
                      </h4>
                    </div>
                    <div id="collapse88" class="panel-collapse collapse out">
                      <div class="panel-body">
                        <div>
                          <img src= {{ url_for('static', filename = '%s/Metatranscriptomics/pca.jpeg'%name) }} width="450" height="450" alt="previous" title="Previous" border="0">                        </div>
                        </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse89">Sample Distances</a>
                      </h4>
                    </div>
                    <div id="collapse89" class="panel-collapse collapse out">
                      <div class="panel-body">
                        <div>
                          <img src= {{ url_for('static', filename = '%s/Metatranscriptomics/sample_distances.jpeg'%name) }} width="450" height="450" alt="previous" title="Previous" border="0">                        </div>
                        </div>
                    </div>
                  </div>







                  <!--<table class="table table-striped">
                    <tr>
                      <th>Counts</th>
                      <td><img src= {{ url_for('static', filename = '%s/Metatranscriptomics/counts.jpeg'%name) }} width="450" height="450" alt="previous" title="Previous" border="0"></td>
                    </tr>

                    <tr>
                      <th>Gene Expression</th>
                      <td><img src= {{ url_for('static', filename = '%s/Metatranscriptomics/gene_expression.jpeg'%name) }} width="450" height="450" alt="previous" title="Previous" border="0"></td>
                    </tr>

                    <tr>
                      <th>MAplot</th>
                      <td><img src= {{ url_for('static', filename = '%s/Metatranscriptomics/ma.jpeg'%name) }} width="450" height="450" alt="previous" title="Previous" border="0"></td>
                    </tr>

                    <tr>
                      <th>PCA</th>
                      <td><img src= {{ url_for('static', filename = '%s/Metatranscriptomics/pca.jpeg'%name) }} width="450" height="450" alt="previous" title="Previous" border="0"></td>
                    </tr>

                    <tr>
                      <th>Sample Distances</th>
                      </a>
                      <td><img src= {{ url_for('static', filename = '%s/Metatranscriptomics/sample_distances.jpeg'%name) }} width="450" height="450" alt="previous" title="Previous" border="0"></td>
                    </tr>

                  </table>-->

                </div>
              </div>
            </div>
  {% endif %}

					</div>
				</div>


</div>
{% endblock %}
